apiVersion: machineconfiguration.openshift.io/v1
kind: ImagesetConfig
metadata:
  name: oc-mirror
  labels:
    machineconfiguration.openshift.io/role: oc-mirror
spec:
  sources:
  - name: openshift-release
    sourceType: release
    release:
      name: "{{ ocp_version }}"
      namespace: openshift
      payload:
        metadata:
          name: release